@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

@theme inline {
    --color-background: var(--background);
    --color-foreground: var(--foreground);
    --font-sans: var(--font-geist-sans);
    --font-mono: var(--font-geist-mono);
    --color-sidebar-ring: var(--sidebar-ring);
    --color-sidebar-border: var(--sidebar-border);
    --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
    --color-sidebar-accent: var(--sidebar-accent);
    --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
    --color-sidebar-primary: var(--sidebar-primary);
    --color-sidebar-foreground: var(--sidebar-foreground);
    --color-sidebar: var(--sidebar);
    --color-chart-5: var(--chart-5);
    --color-chart-4: var(--chart-4);
    --color-chart-3: var(--chart-3);
    --color-chart-2: var(--chart-2);
    --color-chart-1: var(--chart-1);
    --color-ring: var(--ring);
    --color-input: var(--input);
    --color-border: var(--border);
    --color-destructive: var(--destructive);
    --color-accent-foreground: var(--accent-foreground);
    --color-accent: var(--accent);
    --color-muted-foreground: var(--muted-foreground);
    --color-muted: var(--muted);
    --color-secondary-foreground: var(--secondary-foreground);
    --color-secondary: var(--secondary);
    --color-primary-foreground: var(--primary-foreground);
    --color-primary: var(--primary);
    --color-popover-foreground: var(--popover-foreground);
    --color-popover: var(--popover);
    --color-card-foreground: var(--card-foreground);
    --color-card: var(--card);
    --radius-sm: calc(var(--radius) - 4px);
    --radius-md: calc(var(--radius) - 2px);
    --radius-lg: var(--radius);
    --radius-xl: calc(var(--radius) + 4px);
}

:root {
    --radius: 0.625rem;
    --background: oklch(1 0 0);
    --foreground: oklch(0.145 0 0);
    --card: oklch(1 0 0);
    --card-foreground: oklch(0.145 0 0);
    --popover: oklch(1 0 0);
    --popover-foreground: oklch(0.145 0 0);
    --primary: oklch(0.205 0 0);
    --primary-foreground: oklch(0.985 0 0);
    --secondary: oklch(0.97 0 0);
    --secondary-foreground: oklch(0.205 0 0);
    --muted: oklch(0.97 0 0);
    --muted-foreground: oklch(0.556 0 0);
    --accent: oklch(0.97 0 0);
    --accent-foreground: oklch(0.205 0 0);
    --destructive: oklch(0.577 0.245 27.325);
    --border: oklch(0.922 0 0);
    --input: oklch(0.922 0 0);
    --ring: oklch(0.708 0 0);
    --chart-1: oklch(0.646 0.222 41.116);
    --chart-2: oklch(0.6 0.118 184.704);
    --chart-3: oklch(0.398 0.07 227.392);
    --chart-4: oklch(0.828 0.189 84.429);
    --chart-5: oklch(0.769 0.188 70.08);
    --sidebar: oklch(0.985 0 0);
    --sidebar-foreground: oklch(0.145 0 0);
    --sidebar-primary: oklch(0.205 0 0);
    --sidebar-primary-foreground: oklch(0.985 0 0);
    --sidebar-accent: oklch(0.97 0 0);
    --sidebar-accent-foreground: oklch(0.205 0 0);
    --sidebar-border: oklch(0.922 0 0);
    --sidebar-ring: oklch(0.708 0 0);
}

.dark {
    --background: oklch(0.145 0 0);
    --foreground: oklch(0.985 0 0);
    --card: oklch(0.205 0 0);
    --card-foreground: oklch(0.985 0 0);
    --popover: oklch(0.205 0 0);
    --popover-foreground: oklch(0.985 0 0);
    --primary: oklch(0.922 0 0);
    --primary-foreground: oklch(0.205 0 0);
    --secondary: oklch(0.269 0 0);
    --secondary-foreground: oklch(0.985 0 0);
    --muted: oklch(0.269 0 0);
    --muted-foreground: oklch(0.708 0 0);
    --accent: oklch(0.269 0 0);
    --accent-foreground: oklch(0.985 0 0);
    --destructive: oklch(0.704 0.191 22.216);
    --border: oklch(1 0 0 / 10%);
    --input: oklch(1 0 0 / 15%);
    --ring: oklch(0.556 0 0);
    --chart-1: oklch(0.488 0.243 264.376);
    --chart-2: oklch(0.696 0.17 162.48);
    --chart-3: oklch(0.769 0.188 70.08);
    --chart-4: oklch(0.627 0.265 303.9);
    --chart-5: oklch(0.645 0.246 16.439);
    --sidebar: oklch(0.205 0 0);
    --sidebar-foreground: oklch(0.985 0 0);
    --sidebar-primary: oklch(0.488 0.243 264.376);
    --sidebar-primary-foreground: oklch(0.985 0 0);
    --sidebar-accent: oklch(0.269 0 0);
    --sidebar-accent-foreground: oklch(0.985 0 0);
    --sidebar-border: oklch(1 0 0 / 10%);
    --sidebar-ring: oklch(0.556 0 0);
}

@layer base {
    * {
        @apply border-border outline-ring/50;
    }
    body {
        @apply bg-background text-foreground;
    }
}

@media only screen and (min-width: 1000px) {
    body #ajax-content-wrap.no-scroll {
        min-height: calc(100vh - 78px);
        height: calc(100vh - 78px) !important;
    }

    #page-header-wrap.fullscreen-header,
    #page-header-wrap.fullscreen-header #page-header-bg,
    html:not(.nectar-box-roll-loaded)
        .nectar-box-roll
        > #page-header-bg.fullscreen-header,
    .nectar_fullscreen_zoom_recent_projects,
    #nectar_fullscreen_rows:not(.afterLoaded) > div {
        height: calc(100vh - 77px);
    }

    .wpb_row.vc_row-o-full-height.top-level,
    .wpb_row.vc_row-o-full-height.top-level > .col.span_12 {
        min-height: calc(100vh - 77px);
    }

    html:not(.nectar-box-roll-loaded)
        .nectar-box-roll
        > #page-header-bg.fullscreen-header {
        top: 78px;
    }

    .nectar-slider-wrap[data-fullscreen="true"]:not(.loaded),
    .nectar-slider-wrap[data-fullscreen="true"]:not(.loaded) .swiper-container {
        height: calc(100vh - 76px) !important;
    }

    .admin-bar .nectar-slider-wrap[data-fullscreen="true"]:not(.loaded),
    .admin-bar
        .nectar-slider-wrap[data-fullscreen="true"]:not(.loaded)
        .swiper-container {
        height: calc(100vh - 76px - 32px) !important;
    }
}

@media only screen and (max-width: 999px) {
    .using-mobile-browser
        #nectar_fullscreen_rows:not(.afterLoaded):not(
            [data-mobile-disable="on"]
        )
        > div {
        height: calc(100vh - 100px);
    }

    .using-mobile-browser .wpb_row.vc_row-o-full-height.top-level,
    .using-mobile-browser
        .wpb_row.vc_row-o-full-height.top-level
        > .col.span_12,
    [data-permanent-transparent="1"].using-mobile-browser
        .wpb_row.vc_row-o-full-height.top-level,
    [data-permanent-transparent="1"].using-mobile-browser
        .wpb_row.vc_row-o-full-height.top-level
        > .col.span_12 {
        min-height: calc(100vh - 100px);
    }

    html:not(.nectar-box-roll-loaded)
        .nectar-box-roll
        > #page-header-bg.fullscreen-header,
    .nectar_fullscreen_zoom_recent_projects,
    .nectar-slider-wrap[data-fullscreen="true"]:not(.loaded),
    .nectar-slider-wrap[data-fullscreen="true"]:not(.loaded) .swiper-container,
    #nectar_fullscreen_rows:not(.afterLoaded):not([data-mobile-disable="on"])
        > div {
        height: calc(100vh - 47px);
    }

    .wpb_row.vc_row-o-full-height.top-level,
    .wpb_row.vc_row-o-full-height.top-level > .col.span_12 {
        min-height: calc(100vh - 47px);
    }

    body[data-transparent-header="false"] #ajax-content-wrap.no-scroll {
        min-height: calc(100vh - 47px);
        height: calc(100vh - 47px);
    }
}

.wpb_row[data-using-ctc="true"] h1,
.wpb_row[data-using-ctc="true"] h2,
.wpb_row[data-using-ctc="true"] h3,
.wpb_row[data-using-ctc="true"] h4,
.wpb_row[data-using-ctc="true"] h5,
.wpb_row[data-using-ctc="true"] h6 {
    color: inherit;
}

.icon-3x[class^="icon-"].extra-color-1,
.icon-3x[class*=" icon-"].extra-color-1 {
    color: #f6653c;
}

#sidebar .widget:hover [class^="icon-"].icon-3x.extra-color-1 {
    background-color: #f6653c;
}

.icon-3x[class^="icon-"].extra-color-1:not(.alt-style),
.icon-3x[class*=" icon-"].extra-color-1:not(.alt-style) {
    color: #f6653c;
}

.col:hover > [class^="icon-"].icon-3x:not(.alt-style).extra-color-1.hovered,
.col:hover > [class*=" icon-"].icon-3x:not(.alt-style).extra-color-1.hovered,
.col:not(.post-area):not(.span_12):not(#sidebar):hover
    [class^="icon-"].icon-3x:not(.alt-style).extra-color-1.hovered,
.col:not(.post-area):not(.span_12):not(#sidebar):hover
    a
    [class*=" icon-"].icon-3x:not(.alt-style).extra-color-1.hovered {
    background-color: #f6653c;
}

.col:not(.post-area):not(.span_12):not(#sidebar):hover
    .extra-color-1.hovered
    .circle-border,
body
    .col:not(.post-area):not(.span_12):not(#sidebar):hover
    [class*=" icon-"].icon-3x.hovered.extra-color-1
    .circle-border,
body
    #sidebar
    .widget:hover
    [class*=" icon-"].icon-3x.extra-color-1
    .circle-border {
    border-color: #f6653c;
}

.img-with-aniamtion-wrap[data-border-radius="none"] .img-with-animation,
.img-with-aniamtion-wrap[data-border-radius="none"] .hover-wrap {
    border-radius: none;
}

@media only screen and (max-width: 690px) {
    #ajax-content-wrap .vc_row.right_padding_phone_20px .row_col_wrap_12 {
        padding-right: 20px !important;
    }

    #ajax-content-wrap .vc_row.left_padding_phone_20px .row_col_wrap_12 {
        padding-left: 20px !important;
    }

    .vc_row.bottom_padding_phone_20px {
        padding-bottom: 20px !important;
    }

    .vc_row.top_padding_phone_20px {
        padding-top: 20px !important;
    }
}

.screen-reader-text,
.nectar-skip-to-content:not(:focus) {
    border: 0;
    clip: rect(1px, 1px, 1px, 1px);
    clip-path: inset(50%);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute !important;
    width: 1px;
    word-wrap: normal !important;
}
